body {
    background-image: url('back.jpg');
}

div {
    width: 1000px;
    margin: auto;
}

#header {
    background-image: url('panorama.jpg');
    min-width: 650px;
    max-width: 1000px;
}

.k {
    width: 450px;
    background-color: #5B9CEA;
}

table {
    width: 100%;
    text-align: center;
}